
*{
    margin: 0  ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: "poppins", sans-serif;
}

:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-colr: white;
    --main-color: #00ffee;    
}

 html{
    font-size: 60%;
    /* overflow: hidden; */
 }

 body{
    background-color: var(--bg-color);
    color: var(--text-colr);
 }

 .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: var(--second-bg-color);
    /* background: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
 }

 .logo{
    font-size: 3rem;
    color: ver(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
 }

 .log:hover{
   transform: scale(1.1); 
 }

 .logo span{
    text-shadow: 0 0 25px var(--main-color);
 }

 .navber a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
 }

 .navber a:hover,
 .navber a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
 }

 #menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
 }


 section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
 }

 .home-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
 }

 
 span{
    color: var(--main-color);
 }

 .logo span{
    color: var(--main-color);
 }


 .home{
   margin-top: 30px;
   display: flex;
   margin-left: 5%;
 }
 .home-text{
  
    margin-bottom: 2rem;
    margin-top: 10.1rem;
    font-size: 20px;
 }

 .home-text h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3,5rem;
 }

 .home-text h1{
    font-size: 7rem;
    font-weight: 700;  
    margin-top: 1.5rem;
    line-height: 1;
 }


 .home img{
   border-radius: 50%;

 }
 

.home-img img{
   top: 3rem;
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main--color);
    cursor:  pointer;
    transition: 0.4s ease-in-out;
 } 

 .home-img img:hover{
   box-shadow: 0 0 25px var(--main--color),
               0 0 50px var(--main--color),
               0 0 100px var(--main-color)
 }

 
 
 .about{
   background: rgba(0, 0, 0, 0.3);
 }

 .About-text p{
   font-size: 2.3rem;
   font-weight: 500;
   line-height: 1.8;
   max-width: 1000px;
   margin-top: 3.5rem;
 }



 .About-text h1{
   font-size: 7rem;
   font-weight: 700;  
   margin-top: 1.5rem;
   line-height: 1;
}

.portfolio-text h1{
   font-size: 7rem;
   font-weight: 700;  
   margin-top: 1.5rem;
   line-height: 1;
}






 .social-icons{
   margin-top: 40px;
 }
  .social-icons a{
  
    display: inline-flex;
    justify-items: center;
    align-items: center;
    width: 3,5rem;
    height: 2.5rem;
    background: transparent;
    border: 2cqw solid var(--main-color);
    font-size: 5.cqw ;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
 }

 .social-icons a:hover{
   color: var(--text-color);
   transform: scale(1.3)translateY(-5px);
   box-shadow: 0 0 25px var(--main-color);
   background-color: var(--main-color);
 }


 .btn{
   display: inline-block;
   padding: 1rem 2.8rem;
   background: var(--main-color);
   box-shadow: 0 0 25px var(--main-color);
   border-radius: 4rem;
   font-size: 1.6rem;
   color: black;
   border: 2px solid transparent;
   letter-spacing: 0.1rem;
   font-weight: 600;
   transition: 0.3s ease-in-out;
   cursor: pointer;
 }


 .btn:hover{
   transform: scale(1.05);
   box-shadow: 0 0 50px var(--main-color);
 }

      
 .btn-group{
   display: flex;
   align-items: center;
   gap: .5rem;
 }

 .btn-group a:nth-of-type(2){
   background-color: black;
   color: var(--main-color);
   border: 2px solid var(--main-color);
   box-shadow: 0 0 50px transparent;
 }

.btn-group a:nth-of-type(2):hover{
   box-shadow: 0 0 25px var(--main-color);
   background-color: var(--main-color);
   color: black;
}

.text-animation{
   font-size: 34px;
   font-weight: 600;
   min-width: 280px;
}


.text-animation span::before{
   content: "Web Developer";
   color: var(--main-color);
   animation: words 20s infinite;
   
}

  
 

.heading{
   font-size: 8rem;
   text-align: center;
   margin: 5rem 0;
}

.education{
   padding: 100px 15px;
   background: var(--second-bg-color);
   animation: words 20s infinite;
   text-shadow: #00ffee;
}


.education h2{
   margin-bottom: 5rem;
}








.timeline-items{
text-align: center;
}
.timeline-date{
font-size: 3rem;
margin-top: 25px;
width: 5spx;
font-size: 6rem;
}





.timeline-content{
   background-color: var(--main-color);
   border: 3px solid var(--main-color);
   padding: 30px 50px;
   border-radius: 4rem;
   box-shadow: 0 0 10px var(--main-color);
   cursor: pointer;
   transition: 0.3s ease-in-out;
}


.timeline-content:hover{
   transition: scale(1.05);
   box-shadow: 0 0 25px var(--main-color);
}


.timeline-content h3{
   font-size: 25px;
   color: black;
   margin: 0 0 10px;
   font-weight: 500;
}


.timeline-content p{
   color: black;
   font-size: 20px;
   font-weight: 300;
   line-height: 22px;
}


::-webkit-scrollbar{
   width: 15px;
}



::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}



::-webkit-scrollbar-track{
   background-color: var(--main-color);
   padding: 50px; 
}






.portfolio-text{
   margin-bottom: 15px;
}

.portfolio-img{
   display: grid;
   grid-template-columns: repeat(3 ,1fr);
   grid-gap: 20px;
}

.portfolio-grid{
   background-color: #00ffee;
   padding: 10px;
   border-radius: 10px;
}
.portfolio-grid p{
   color: #000;
   margin: 10px 0 10px 0;
}
.grid-button a button{
   padding: 10px;
   border-radius: 5px;
   margin-right: 10px;
}





.contact{
 
   background-color: var(--bg-color);
}


.contact h2{
   
   margin-bottom: 3rem;
   color: white;
}

.input-group{
   margin-right: 25px;
   margin-top: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
   margin: 5rem auto;
   text-align: center;
}

.input-group-2{
   margin-left: 40px;
  
}

.input-group .input-box{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.input-group .input-box input,
.input-group textarea{
   
   width: 100%;
   padding: 2.5rem;
   font-size: 3.8rem;
   color: var(--text-color);
   background: var(--bg-color);
   border-radius: 2rem;
   border: 2px solid var(--main-color);
   margin: 1.5rem 0;
   resize: none;
}

.input-group .btn{
   margin-top: 2rem;
}

footer{
   
   position: relative;
   bottom: 20px;
   width: 100%;
   padding: 40px 0;
   background-color: var(--second-bg-color);
}

.footer .social{
   text-align: center;
   padding-bottom: 40px;
   color: var(--main-color);
}
.footer .social a{
   font-size: 40px;
   color: var(--main-color);
   border: 2px solid var(--main-color);
   width: 80px;
   height: 60px;
   line-height: 60px;
   display: inline-block;
   text-align: center;
   border-radius: 50%;
   margin: 0 10px;
   transition: 0.3s ease-in-out;

}

.footer .social a:hover{
   transform: scale(1.2)translate(-10px);
   background-color: var(--main-color);
   color: black;
   box-shadow: 0 0 25px var(--main-color);

}

footer ul{
   margin-top: 0;
   padding: 0;
   font-size: 40px;
   line-height: 1.6;
   margin-bottom: 0;
   text-align: center;
}

footer ul li a{
   color: white;
   border-bottom: 3px solid transparent;
   transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
   border-bottom: 3px solid var(--main-color);
}

footer ul li{
   display: inline-block;
   padding: 0 15px;
}

footer .copyright{
   margin-top: 50px;
   text-align: center;
   font-size: 30px;
   color: white;
}


@media(max-width:1285px){
   html{
      font-size:55%;
   }

   
}

@media(max-width:991px){
   header{
      padding: 2rem 3%;
   }
   section{
      padding: 10rem 3% 2rem;
   }
   .timeline-items::before{
      left: 7px;
   }
   .timeline-items:nth-child(odd){
      padding-right: 0;
      text-align: left;
   }
   .timeline-items:nth-child(odd),
   .timeline-item:nth-child(even){
      padding-left: 37px;
   }
   .timeline-dot{
      left: 0;
   }
   .services{
      padding-bottom: 7rem;
   }

   .contact form{
      flex-direction: column;
   }
   .footer{
      padding: 2rem 3%;
   }
}

@media(max-width:895px){
   #menu icon{
      display: block;
   }
   .navber{
      position: absolute;
      top: 100%;
      right: 0;
      width: 50%;
      padding: 1rem 3%;
      background: rgba(0, 0, 0, 0.8);
       backdrop-filter: blue(20px);
       border-top-left-radius: 2rem;
       border-left: 2px solid var(--main-color);
       border-bottom: 2px solid var(--main-color);
       display: none;
      }
      .navber.active{
         display: block;
      }
      .navber a{
         display: block;
         font-size: 2rem;
         margin: 3rem; 
         color: white;
      }
      .home{
         flex-direction: column-reverse;
         margin: 5rem 4rem;

      }
      .home-text h3{
         font-size: 2,6rem;
      }
      .home-text h1{
         font-size: 8rem;
         margin-top: 3rem;
      }
      .home-text p{
         max-width: 600px;
         margin: 0 auto;
      }
      .home-img img{
         width: 56vw;
      }
       .services h2{
         margin-bottom: 3rem;
       }
       .services-container{
         grid-template-columns: repeat(1,fr);
       }
      
} 